<div nz-row class="mt-2">
  <h4 class="txt-primary">RubyGem</h4>
  <p>
    Se você vêm do javascript conhece os famosos gerenciadores de pacotes npm e yarn, no ruby temos o rubyGem ou simplesmente gem.
    Através dele você poderá ter acesso a diversas gems (bibliotecas e programas) que poderão lhe auxiliar em distintas situações, como exemplos de
    recursos que poderá obter por meio do gerenciador de pacotes temos o irb e o pry.
  </p>
  <p>Atenção, no momento que o ruby é instalado ele já carrega o seu gerenciador de pacotes!</p>
  <p>Instale o irb: </p>
  <div class="container-dark">
    <code>gem install irb</code>
  </div>

  <p class="mt-2">Instale o pry: </p>
  <div class="container-dark">
    <code>gem install pry</code>
  </div>

  <p class="mt-2">Agora para usar basta digitar em seu terminal o comando pry ou irb de acordo com o qual foi instalado em sua máquina. Depois pressione a tecla ENTER.</p>
</div>
