<p>
  Para que possa testar o poder do ruby um simples editor de texto instalado em seu computador será o suficiemte.
  Pois com a linguagem ruby instalada bastará criar um arquivo e salva-lo com a extensão <i class="txt-primary">.rb</i>.
   Depois execute o arquivo através do comando: <i class="txt-primary">ruby nome_arquivo.rb</i>
</p>
<p>
  Dessa maneira poderá testar os exemplos aqui disponibilizados sem problemas. No entanto, os primeiros exercícios
  são extremamentes simples e por isso recomendamos a instalação de utilitários que lhe permitirão exercitar a linguagem ruby
  sem a necessidade de salvar arquivos.
</p>

<p>
  Existem duas ótimas opções de shell interativo, o IRB e o PRY.
  Através deles poderá executar comandos ruby diretamente no terminal (console) e
  assim praticar sem ter que armazenar arquivos em sua máquina.
</p>

<ul>
  <li>
    <strong>IRB</strong> significa "Ruby interativo" e é uma ferramenta para executar código ruby de forma interativa.
    O comando irb do seu shell iniciará o interpretador.
  </li>

  <li>
    <strong>PRY</strong> é um console para desenvolvedor. Sendo uma alternativa ao IRB com poderosos recursos de introspecção.
  </li>
</ul>

<p>
  Você pode escolher o de sua preferência, mas particulamente temos uma pequena preferência ao PRY.
</p>
