<h4 class="txt-primary">Tipos TrueClass e FalseClass</h4>

<p>
  Tipos de dados que representam os famosos valores booleanos: true (verdadeiro) e false (falso).
</p>

<div class="ard-terminal">
  <span class="var">value</span> = true<br>
  <i class="command">puts</i><span class="var"> value.class</span> # resultado: TrueClass<br>
  <span class="var">value</span> = false<br>
  <i class="command">puts</i><span class="var"> value.class</span> # resultado: FalseClass<br>
</div>

<p>
  Na maioria das linguagens de programação são representados pela class Boolean ou Bool,
  mas ruby preferiu ter uma classe para cada um dos valores.
</p>

