<section nz-row>
    <nz-collapse nzAccordion class="ard-bg-primary">

      <nz-collapse-panel nzHeader="Inferência de tipos...">
        <app-type-inference></app-type-inference>
      </nz-collapse-panel>

      <nz-collapse-panel nzHeader="String: trabalhando com caracteres">
        <app-intro-string-type></app-intro-string-type>
        <hr>
        <app-string-interpolation></app-string-interpolation>
      </nz-collapse-panel>

      <nz-collapse-panel nzHeader="Number: trabalhando com números...">
        <p>Em construção...</p>
      </nz-collapse-panel>

      <nz-collapse-panel nzHeader="Boolean: trabalhando com booleanos...">
        <p>Em construção...</p>
      </nz-collapse-panel>
    </nz-collapse>

</section>
