<div nz-row>
  <nz-collapse nzAccordion>
    <nz-collapse-panel nzHeader="Escrevendo mensagens..." nzActive>
      <h5 class="txt-primary">Olá, mundo!</h5>
      <p>
        Dentro do universo da programação existe uma tradição de que o primeiro programa feito em
        uma determinada linguagem deve ser o 'Olá, mundo!'. Tradição criada por que segundo a lenda aqueles
        que não a seguem jamais serão bons programadores.
      </p>

      <p>
        Agora surge a dúvida: como criar um programa para escrever uma simples mensagem na tela ou console de um dispositivo?
        Para isso precisamos pedir ao dispositivo para escrever algo através de alguns comandos, dentre eles o <i class="txt-primary">puts</i>.
      </p>

      <nz-alert nzType="info" [nzMessage]="msg" nzShowIcon class="mt-2 mb-2"></nz-alert>

      <div class="container-dark mb-2">
        <code>puts 'Olá, mundo!'</code>
      </div>

      <p>
        Pronto, como uma <strong>única</strong> instrução você foi capaz de escrever seu primeiro programa em ruby.
        Muito fácil, né? Agora, como essa 'mágica' ocoreu? O responsável pelo sucesso do seu programa foi o método <i>puts</i>.
        Chamadas a métodos em ruby não precisam de parêteses '()', é algo <strong>opcional</strong>, diferentemente de outras linguagens como java, c e c++. Sendo uma característica da linguagem
         que é conhecida como <i>syntactic sugar (áçucar sintático)</i>, deixando o código mais limpo, ou seja, menos poluído.
      </p>
    </nz-collapse-panel>
  </nz-collapse>

</div>
