<div class="row mb-5">
  <div class="col-12 col-sm-12 col-md-12 col-lg-12">
    <h1 class="container-primary">O que é a linguagem ruby?</h1>
  </div>
  <div class="col-12 col-sm-12 col-md-12 col-lg-12">

    <p>
      Ela é mais uma das opções de linguagens de programação disponíveis no mercado, usamos tais linguagens para programar distintos tipos de dispositivos eletrônicos,
      como por exemplo computadores, celulares, sensores. Portanto, é através das linguagens de programação que passamos instruções para tais dispositivos, conseguindo assim programáramos para executarem
      ações desejadas.
    </p>

    <p>
      O grande diferencial de <strong class="txt-primary">ruby</strong> para a maioria das outras alternativas é o fato dela ser uma linguagem feita para nós programadores! Programar em ruby é algo normalmente prazeroso e simples.
      Ela possui sintaxe elegante e recursos poderosos, fatores que proporcionando o aumento de produtividade de seus adeptos.
    </p>
  </div>

  <div class="mt-2 col-12 col-sm-12 col-md-12 c0l-lg-12">
    <p class="text-center">
      <img [src]="logoRuby" class="img-fluid">
    </p>
    <h3 class="text-center txt-primary"><strong>A melhor amiga do programador!</strong></h3>
  </div>

  <div class="mt-2 col-12 col-sm-12 col-md-12 col-lg-12">
    <p>
      Foi criada pelo japônes <strong class="txt-primary">Yukihiro Matsumoto (Matz)</strong> em 1993, escrita em <a [href]="linkC" target="blank"><i>c (linguagem de programação)</i></a> e disponibilizada ao público em 1995.
      Seu criador se inspirou em outras linguagens de programação, como:
      <a [href]="linkLisp" target="blank"><i>Lisp</i></a>,
      <a [href]="linkPerl" target="blank"><i>Perl</i></a>,
      <a [href]="linkSmalltalk" target="blank"><i>Smalltalk</i></a>,
      <a [href]="linkEiffel" target="blank"><i>Eiffel</i></a>, e
      <a [href]="linkAda" target="blank"><i>Ada</i></a>.
    </p>

    <p>
      Nos primeiros anos de vida de ruby ela ficou praticamente restrita ao país de sua origem
      e só por volta dos anos 2000 chegou aos EUA (Estados Unidos da América).
      O marco principal dessa introdução do ruby ao EUA ocorreu em setembro de 2000, quando o
      primeiro livro em inglês, <i>Programming Ruby</i>, foi publicado. Então ruby começou
      a fazer sucesso e como o inglês é a língua universal conseguiu chegar a outras nações.
    </p>

    <p>
      Em 2005 nasce o revolucionário <strong>Ruby on Rails (Rails ou RoR)</strong>, o super framework para o
      desenvolvimento de aplicações web escritas em ruby. O próprio <i>Ruby on Rails</i> foi
      escrito em ruby. Provavelmente você se interessou em ruby porque ouviu falar sobre a
      <i>Rails</i>, ele realmente é uma ferramenta diferenciada que consegue aumentar a produtividade
      de seus adeptos e deixar o processo de desenvolvimento de aplicações mais divertido.
      Mas o foco aqui será a linguagem ruby. Depois que tiver uma boa base sobre ruby
      terá enorme facilidade em trabalhar com o <i>Rails</i>.
    </p>

    <p>
      O <i>rails</i> atraiu muitos olhares e como consequência o ruby também.
      A partir desse período a linguagem se popularizou e ganhou destaque no cenário mundial.
    </p>

    <p>
      Ela foi projetada para ser uma linguagem de programação produtiva e para carregar um conjunto de características, como:
      multiparadigma, interpretada,tipagem dinâmica, tipagem forte, portabilidade, legibilidade, redigibilidade etc.
    </p>
  </div>
</div>
