<div class="row mb-5">
  <div class="col-12 col-sm-12 col-md-12 col-lg-12">
    <h1>O que é a linguagem ruby?</h1>
  </div>
  <div class="col-12 col-sm-12 col-md-12 col-lg-12">

    <p>
      Ela é mais uma das opções de linguagens de programação disponíveis no mercado, usamos tais linguagens para programar distintos tipos de dispositivos eletrônicos,
      como por exemplo computadores, celulares, sensores. Portanto, é através das linguagens de programação que passamos instruções para tais dispositivos, conseguindo assim programá-los para executarem
      ações desejadas.
    </p>

    <p>
      O grande diferencial de <strong class="txt-primary">ruby</strong> para a maioria das outras alternativas é o fato dela ser uma linguagem feita para nós programadores! Programar em ruby é algo normalmente prazeroso e simples.
      Ela possui sintaxe elegante e recursos poderosos, fatores que proporcionando o aumento de produtividade de seus adeptos.
    </p>
  </div>

  <div class="mt-2 col-12 col-sm-12 col-md-12 c0l-lg-12">
    <p class="text-center">
      <img src="https://i.ibb.co/jgB2fx1/logoRuby.png" class="img-fluid">
    </p>
    <h3 class="text-center txt-primary"><strong>A melhor amiga do programador!</strong></h3>
  </div>

  <div class="mt-2 col-12 col-sm-12 col-md-12 col-lg-12">
    <p>
      Foi criada pelo japônes <strong class="txt-primary">Yukihiro Matsumoto (Matz)</strong> em 1993, escrita em <a [href]="linkC" target="blank"><i>c (linguagem de programação)</i></a> e disponibilizada ao público em 1995.
      Seu criador se inspirou em outras linguagens de programação, como:
      <a [href]="linkLisp" target="blank"><i>Lisp</i></a>,
      <a [href]="linkPerl" target="blank"><i>Perl</i></a>,
      <a [href]="linkSmalltalk" target="blank"><i>Smalltalk</i></a>,
      <a [href]="linkEiffel" target="blank"><i>Eiffel</i></a>, e
      <a [href]="linkAda" target="blank"><i>Ada</i></a>.
    </p>

    <p>
      Projetada para ser uma linguagem de programação produtiva e que carrega um conjunto de características, como:
      multiparadigma, interpretada,tipagem dinâmica, tipagem forte, portabilidade, legibilidade, redigibilidade etc.
    </p>
  </div>
</div>
