<article>
  <h1>
    Aprenda a programar em <strong>ruby</strong>!<img [src]="logoRuby">
  </h1>

  <div class="row">
    <div class="col-12 col-sm-4 col-md-6 col-lg-8 p-2">
      <p>
        Se você nos encontrou é porque se interessou
        por ruby, uma das melhores linguagens de programação do mercado.
        Certamente, está procurando uma fonte de conteúdos onde possa aprender sobre
        essa linguagem tão <strong>poderosa</strong> e <strong>fascinante</strong>. Portanto, seja bem-vindo(a) ao projeto <strong>Aux-Ruby-Doc</strong>!.
      </p>
    </div>

    <div class="col-12 col-sm-8 col-md-6 col-lg-4 p-2">
      <img [src]="imagePrimary" class="img-fluid">
    </div>

    <div class="col-12 col-sm-8 col-md-6 col-lg-4 p-2">
      <img [src]="imageSecondary" class="img-fluid">
    </div>

    <div class="col-12 col-sm-4 col-md-6 col-lg-8 p-2">
      <p>
        O <strong>Aux-Ruby-Doc (ARD)</strong> é uma plataforma que visa ajudar no
        processo de aprendizagem da linguagem de programação <strong>ruby</strong>.
        Todo conteúdo compartilhado aqui foi inserido por quem já esteve na mesma situação que você,
        com muita curiosidade e ao mesmo tempo um pouco perdido. Sabemos que quando iniciamos os estudos
        sobre uma nova tecnologia normalmente encontramos algumas dificuldades, por isso projetamos o ARD,
        para ajudar pessoas aprenderem a programar em ruby.
      </p>
    </div>

  </div>

  <div class="row mt-2">
    <h4>Tecnologias e bibliotecas utilizadas</h4>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
      <p>Utilizamos ferramentas <span nz-tooltip [nzTooltipTitle]="tooltipText" class="italic"><i>open-source</i></span> para a construção dessa plataforma, confira a lista abaixo:</p>
    </div>

    <div class="col-12 col-sm-4 col-md-6 col-lg-4">
      <img [src]="logoOpenSource" class="img-fluid" alt="figura ope-source">
    </div>

    <div class="col-12 col-sm-8 col-md-6 col-lg-8">
      <app-list></app-list>
    </div>

    <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-2">
      <h5>Por que ruby não foi utilizado?</h5>
      <p>
      Você deve está se perguntando porque o ruby não foi empregado no desenvolvimento do Aux-Ruby-Doc.
      Decidimos não usar ruby para o desenvolvimento do projeto, pois a plataforma na verdade nada mais é do que um
      site de compartilhamento de conteúdo, dados não são gravados, autenticação e gerenciamento de permissões não são realizados,
      ou seja, se trata apenas de uma aplicação front-end.
      </p>

      <p>
      Portanto, chegamos a conclusão de que usar ruby meramente para construção de front-end seria fazer mau uso da tecnologia.
      Não estamos falando que ruby não possa ser usado para desenvolver um projeto web de ponta a ponta, participando do back-end
      e front-end, existem situações que isso se faz necessário e o sucesso do Ruby on Rails mostra isso.
      </p>

      <p>
      No entanto, nossa plataforma não possui um back-end, apenas trabalha com html.
      Defendemos que ruby deva ser usado para o processamamento e manipulação de dados, atuando principalmente como back-end de aplicações e <strong>não se preocupando UNICAMENTE em renderizar html</strong>.
      Como não era a melhor escolha optamos por um framework estruturado para a construção de uma aplicação de página única (Single Page Application ou SPA), escolhendo o Angular para tal missão.
      </p>
    </div>
  </div>
</article>
