<h4 class="txt-primary">Tipo Float</h4>

<p>
  Um tipo de dado que representa os números de ponto flutuantes ou fracionários. Alguns exemplos de valores do
  tipo <i>Float</i> são: 34.90, -23.45, 93284.432, -2343.43, 24.12, 5343.91 etc. Detalhe, use sempre o . (ponto) ao invés da . (vírgula);
</p>

<div class="ard-terminal">
  <span class="var">number</span> = 90.52<br>
  <i class="command">puts</i><span class="var"> number</span> # resultado: 90.52<br>
  <i class="command">puts</i><span class="var"> number.class</span> # resultado: Float
</div>

<h5 class="txt-primary mt-2">Lendo valores do tipo Float</h5>

<p>
  Agora vamos coletar um valor do tipo <i>Float</i> informado pelo usuário do programa.
</p>

<div class="ard-terminal">
  <i class="command">puts </i> "Informe seu salário: "<br>
  <span class="var">salary</span> = <i class="command">gets</i><br>
  <i class="command">puts</i><span class="var"> salary.class</span> # resultado: String
</div>

<p class="mt-2">
  Ao informar um valor de ponto flutuante imaginava-se que a variável
  <i>salary</i> estivesse armazenando um valor do tipo <i>Float</i> e não do tipo
  <i>String</i> como revelado pelo programa. Lembre-se que por padrão o retorno do
  método <i>gets</i> é um valor do tipo <i>String</i>,
  pois o método captura o valor digitado e converte automaticamente para <i>String</i>.
</p>

<p>
  Portanto, precisamos converter o valor retornado pelo método <i>gets</i> para <i>Float</i>,
   já que o mesmo é um número inteiro que foi convertido para <i>String</i> automaticamente
   pelo <i>gets</i>. Para isso basta utilizar o método <i>to_f</i>, observe:
</p>

<div class="ard-terminal">
  <i class="command">puts </i> "Informe seu salário: "<br>
  <span class="var">salary</span> = <i class="command">gets.to_f</i><br>
  <i class="command">puts</i><span class="var"> salary.class</span> # resultado: Float
</div>

