<div class="row">
  <div class="col-12 col-sm-6 col-md-6 col-lg-6 mt-2">
    <nz-card nzTitle="Figura 01: Como os dispositivos se comunicam">
      <p class="text-center"><img [src]="figure1" alt="esquema de comunicação binária" class="img-fluid img-max"></p>
    </nz-card>
  </div>

  <div class="col-12 col-sm-6 col-md-6 col-lg-6 mt-2">
    <nz-card nzTitle="Figura 02: Como nosso código é traduzido">
      <p class="text-center"><img [src]="figure2" alt="esquema de comunicação binária" class="img-fluid img-max"></p>
    </nz-card>
  </div>

</div>
