<section nz-row>
  <h5 class="txt-primary">Interpolação</h5>

  <p>
    Interpolação de strings (<i>string interpolation</i>) é o processo de concatenar duas ou
    mais strings. Imagine que precise retornar uma mensagem de boas vindas com o nome do
    usuário de seu programa. A pergunta que fica é como isso seria feito? A resposta é simples, através da concatenação!
    <i>String interpolation</i> é a maneira mais convencional e elegante de concatenar valores resultando em uma string única. Um detalhe bastante
    importante é que esse recurso deve ser realizado somente entre aspas duplas ("").
  </p>

  <div class="container-dark b-radius mb-2">
    <code>
      <i class="command">puts</i> 'Informe seu nome:'<br>
      <i class="var">name</i> = gets<br>
      <i class="command">puts</i>"Olá <i class="var">{{str}}</i>, seja bem-vindo(a)!"<br>
    </code>
  </div>

</section>
