<div class="row mt-2">
  <nz-collapse nzAccordion>
    <nz-collapse-panel nzHeader="WINDOWS">
      <h5>Ambiente WINDOWS <img [src]="image" class="img-fluid"></h5>
      <p class="txt-primary">Instalação RubyInstaller</p>
      <p>
        O RubyInstaller é uma ferramenta de instalação da linguagem ruby em ambiente windows. Realize o download e instale.
      </p>
      <a class="btn btn-primary" href="https://rubyinstaller.org/" target="blank">DOWNLOAD</a>
    </nz-collapse-panel>
  </nz-collapse>
</div>
