<section nz-row>
  <h6 class="txt-primary">Snake case</h6>
  <p>
    Quando surge a necessidade de declarar variáveis com nomes compostos a dúvida de como deve ser feito vem junto.
    Existem vários padrões para declaração de variáveis entre eles <strong>camelCase</strong> e <strong>snake_case</strong>.
  </p>

  <ul>
    <li>
      camelCasel: determina que qualquer variável de nome composto deve ter a letra inicial de
      cada palavra em maiúsculo e o restante em minúsculo. A única exceção é a primeira palavra
      do nome composto que deve ser escrita totalmente em minúsculo. As palavras também não
      separadas, exemplos:
      <ul>
        <li><i>userName</i></li>
        <li><i>birthDate</i></li>
      </ul>
    </li>

    <li>
      snake_case: determina que qualquer variável de nome composto deve ser escrita totalmente em letras minúsculas e
      que as palvras fiquem separadas através do caractere _, exemplos:
      <ul>
        <li><i>user_name</i></li>
        <li><i>birth_date</i></li>
      </ul>
    </li>
  </ul>

  <p>O padrão adotado no mundo ruby é o <i>snake_case</i>!</p>
</section>
