<div class="row mb-5">
  <h4>Interpretada...</h4>
  <div class="mt-2 col-12 col-sm-12 col-md-12 col-lg-12">
    <p>
      Os dispositivos que programamos não entendem a nossa língua, eles conversam através de linguagem de baixo nível ou linguagem de máquina.
      Tal tipo de linguagem é complexa e de difícil entendimento para nós seres humanos, por isso utilizamos linguagens de programação de alto nível.
      Uma linguagem de alto nível possui semântica próxima a nossa, no entanto, os dispositivos <strong>não</strong> utilizam linguagem de alto nível.
    </p>

    <p>
      Para que os dispositivos entendam as nossas instruções precisamos recorrer a um tradutor, esse é um programa que converte nossas
      instruções para linguagem de máquina. O tradutor de ruby é o que chamamos de interpretador.
    </p>

    <p>Ser uma linguagem interpretada significa que suas instruções são traduzidas no momento de suas execuções, diferentemente de linguagens compiladas,
      onde primeiro o código é compilado e depois um arquivo executável é concebido.
    </p>
  </div>

  <app-card-images></app-card-images>
</div>
