<div class="row">

  <div class="col-6 col-sm-6 col-md-6 col-lg-6">
    <nz-card class="shadow-sm">
      <a [href]="urlIrb" target="blank">
        <p class="text-center">
          <img [src]="imgIrb" class="img-fluid">
        </p>
      </a>
    </nz-card>
  </div>

  <div class="col-6 col-sm-6 col-md-6 col-lg-6">
    <nz-card class="shadow-sm">
      <p class="text-center">
        <a [href]="urlPry" target="blank">
          <img [src]="imgPry" class="img-fluid">
        </a>
      </p>
    </nz-card>
  </div>

</div>
