<div nz-row class="mt-2">
  <nz-collapse nzAccordion>
    <nz-collapse-panel nzHeader="MAC OS">
      <h5>Ambiente MAC OS <img [src]="image" class="img-fluid"></h5>
      <p class="txt-primary">
        Muitas pessoas no mac OS usam o Homebrew como gerenciador de pacotes e através dele com um único comando teremos a última versão do ruby.
      </p>

      <p class="my-subtitle">01) Instale o ruby</p>
      <div class="container-dark">
        <span>brew install ruby</span>
      </div>
    </nz-collapse-panel>
  </nz-collapse>
</div>
