<div class="row mb-5">
  <h4>Multiparadigma...</h4>
  <div class="mt-2 col-12 col-sm-12 col-md-12 col-lg-12">
    <p>
      Paradigma nada mais é do que um estilo de programação. Uma linguagem multiparadigma caracteriza-se por agrupar mais de um paradigma de programação para assim melhor atender as
      nossas necessidades, dessa forma, podemos trabalhar com vário estilos de programação usando uma única linguagem.
    </p>
    <p>
      Ruby abrange de forma equilibrada os paradigmas de programação <i>imperativa</i>, <i>funcional</i> e <i>orientado a objetos</i>.
    </p>

    <p>
      <strong class="txt-primary">Imperativa:</strong> é um paradigma aliado a arquitetura de computadores, arquitetura que foi criada por <a href="https://pt.wikipedia.org/wiki/John_von_Neumann"><i>von Neumann</i></a>.
      Diversas linguagens de programação foram projetadas seguindo esse paradigma. Algumas catacterísticas das linguagens imperativas
      são o uso de variáveis, atribuição de valores e fluxo de execução sequencial de comandos.
    </p>

    <p>
      <strong class="txt-primary">Funcional:</strong> é um paradigma de programação baseado em chamadas
      de funções e que evita estados ou dados mutáveis. Prega pelo uso de constantes e não de variáveis, é declarativa e não imperativa.
      Atualmente, é um dos paradigmas de programação mais populares.
    </p>

    <p>
      <strong class="txt-primary">Orientado a objetos:</strong> é um paradigma de programação que visa representar o mundo natural dentro do mundo computacional.
      Algumas de suas características são o uso de classes, herança, polimorfismo, interfaces etc. Ruby é uma linguagem puramente orientada a objetos, tratando tudo como um objeto.
    </p>
  </div>
</div>
